html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEEEEE;
}

.area {
  margin: 0;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.area-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  pointer-events: none;
}

.card {
  display: flex;
  margin: 8px;
  background: #fff;
  width: 200px;
  height: 200px;
  pointer-events: auto;
}

.card-content {
  border-radius: 2px;
  width: 200px;
  height: 200px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
  transition: box-shadow .218s ease-in;
}

.selekter-selected .card-content {
  box-shadow: 0 0 0 4px #757575;
}

.selekter-tick {
  position: absolute;
  opacity: 0;
  z-index: 2;
  outline: 0;
  border: 0;
  border-radius: 50%;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAQUlEQVR4AWMYSMDGwIdfeiPDTvzSHxjMcUmzkiEdxLCcgQUqvQGbbnOg4BoGFlRpTCVrGdbDpHEogUnjVAKEAwEACe8UD+at3/QAAAAASUVORK5CYII=') no-repeat center #fff;
  cursor: pointer;
  padding: 0 6px;
  width: 24px;
  height: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transform: translate(-7px,-7px);
  transition: .218s linear;
  transition-property: background-color, opacity, transform;
}

.card:hover .selekter-tick {
  opacity: 1;
}

.selekter-selected .selekter-tick {
  opacity: 1;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAR0lEQVQoz2NgGDjwn+0/H37pjf934pf+8N8clzQr6dL/g/4v/88Cld6ARfd/c6Dgmv8sOKThStb+X4/PbpAS3NJQJeYDEicAMyI/4wyxCO4AAAAASUVORK5CYII=');
  background-color: #757575;
  transform: translate(-9px, -9px);
}