:root {
  --selected-color: #757575;
}

.selekter-selectable {
  transition: box-shadow .218s ease-in;

  &.selekter-selected {
    box-shadow: 0 0 0 4px var(--selected-color);
  }
}

.selekter-tick {
  position: absolute;
  opacity: 0;
  z-index: 2;
  outline: 0;
  border: 0;
  border-radius: 50%;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAQUlEQVR4AWMYSMDGwIdfeiPDTvzSHxjMcUmzkiEdxLCcgQUqvQGbbnOg4BoGFlRpTCVrGdbDpHEogUnjVAKEAwEACe8UD+at3/QAAAAASUVORK5CYII=') no-repeat center #fff;
  cursor: pointer;
  padding: 0 6px;
  width: 24px;
  height: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transform: translate(-7px,-7px);
  transition: .218s linear;
  transition-property: background-color, opacity, transform;

  .selekter-selectable:hover & {
    opacity: 1;
  }

  .selekter-selected & {
    opacity: 1;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAR0lEQVQoz2NgGDjwn+0/H37pjf934pf+8N8clzQr6dL/g/4v/88Cld6ARfd/c6Dgmv8sOKThStb+X4/PbpAS3NJQJeYDEicAMyI/4wyxCO4AAAAASUVORK5CYII=');
    background-color: var(--selected-color);
    transform: translate(-9px, -9px);
  }
}

.selekter-lasso {
  position: absolute;
  opacity: .3;
  z-index: 4002;
  background: #9E9E9E;
  border: 1px solid var(--selected-color);
  pointer-events: none;
}